//:configuration = Debug
SDKROOT = macosx
//:configuration = Release
SDKROOT = macosx

HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT)/../macosx.internal/System/Library/Frameworks/System.framework/Versions/B/PrivateHeaders

// resolve /System/Library/Frameworks/System.framework/PrivateHeaders/CrashReporterClient.h:40:15: 'CrashReporterClient.h' file not found
GCC_PREPROCESSOR_DEFINITIONS = LIBC_NO_LIBCRASHREPORTERCLIENT

PRODUCT_NAME = objc.A

// resolve ld: can't open order file: /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.13.sdk/AppleInternal/OrderFiles/libobjc.order
// ORDER_FILE = $(SDKROOT)/AppleInternal/OrderFiles/libobjc.order
ORDER_FILE = $(SRCROOT)/libobjc.order

// resolve ld: library not found for -lCrashReporterClient clang: error: linker command failed with exit code 1 (use -v to see invocation)
// OTHER_LDFLAGS[sdk=macosx*] = -lCrashReporterClient -lc++abi -Xlinker -sectalign -Xlinker __DATA -Xlinker __objc_data -Xlinker 0x1000 -Xlinker -interposable_list -Xlinker interposable.txt
OTHER_LDFLAGS[sdk=macosx*] = -lc++abi -Xlinker -sectalign -Xlinker __DATA -Xlinker __objc_data -Xlinker 0x1000 -Xlinker -interposable_list -Xlinker interposable.txt
OTHER_LDFLAGS[sdk=iphoneos*][arch=*] = -lc++abi -Wl,-segalign,0x4000 -Xlinker -sectalign -Xlinker __DATA -Xlinker __objc_data -Xlinker 0x1000 -Xlinker -interposable_list -Xlinker interposable.txt
OTHER_LDFLAGS[sdk=iphonesimulator*][arch=*] = -lc++abi -Xlinker -interposable_list -Xlinker interposable.txt
